@layer base {
    :root {
        --background: 0 0% 15%;
        --foreground: 210 20% 98%;

        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;

        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;

        --destructive: 10 97% 57%; /* #FC4A26 */
        --destructive-foreground: 0 0% 0%;

        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;

        --grey-100: 0 0% 78%; /* #C7C7C7 */
        --grey-200: 0 0% 69%; /* #B0B0B0 */
        --grey-300: 0 0% 60%; /* #989898 */
        --grey-400: 0 0% 51%; /* #818181 */
        --grey-500: 0 0% 42%; /* #696969 */
        --grey-600: 0 0% 23%; /* #3A3A3A */
        --grey-700: 0 0% 13%; /* #222222 */
        --grey-800: 0 0% 9%; /* #161616 */
        --grey-900: 0 0% 4%; /* #0A0A0A */

        --yellow-400: 44 89.8% 54.7%; /* #F4B625 */
        --yellow-500: 44 97.6% 56.5%; /* #FCBC26 */
        --yellow-600: 42 73.1% 47.5%; /* #D29C1F */
        --yellow-700: 42 73.1% 40.6%; /* #B0831A */
        --yellow-800: 42 73.1% 33.9%; /* #8E6A15 */
        --yellow-900: 42 73.1% 27.1%; /* #6C5010 */

        --primary: 44 97.6% 56.5%; /* #FCBC26 */
        --primary-foreground: 0 0% 0%; /* black */

        --secondary: 42 27.9% 49.2%; /* #A78D51 */
        --secondary-foreground: 0 0% 0%; /* black */

        --muted: 42 27.9% 38.8%; /* #7D7051 */
        --muted-foreground: 0 0% 100%; /* white */

        --accent: 42 57.1% 55.3%; /* #D2A742 */
        --accent-foreground: 0 0% 0%; /* black */
    }

    /* [data-kb-theme="dark"] {
        --background: 0 0% 15%;
        --foreground: 210 20% 98%;

        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;

        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;

        --primary: 42 97% 57%;
        --primary-foreground: 220.9 39.3% 11%;

        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;

        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;

        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;

        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
    } */
}
